<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of items" [routerLink]="['./', item.id]" routerDirection="forward">
      <ion-avatar slot="start">
        <ion-img [src]="item.imageUrl"></ion-img>
      </ion-avatar>
      <ion-text>
        <ion-label>{{item.brand}} {{item.model}}</ion-label>
        <ion-label>Rp. {{item.price}} </ion-label>
        <ion-label>Sisa Stock : {{item.stock}}</ion-label>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
